{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
<div class="panel panel-default">
    <ul class="list-group">
        <li class="list-group-item">
            E-mail: {{ user.email }}
        </li>
        <li class="list-group-item">
           Full name: {{ user.fullName }}
        </li>
        <li class="list-group-item">
            My type
        </li>
    </ul>
</div>


{% endblock %}

