{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">
                        E-mail: {{ user.Email }}
                    </li>
                    <li class="list-group-item">
                       Full name: {{ user.fullname }}
                    </li>
                    <li class="list-group-item">
                        My type:
                        {% for rols in roles %}
                            {{ rols.role }}
                        {% endfor %}
                    </li>
                </ul>
            </div>
    </div>



{% endblock %}

