{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('admin_category_edit', {id: category.id}) }}" method="POST">
                <fieldset>
                    <legend>Category Post</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Category name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="category[name]" placeholder="Category name"
                                   name="name" value="{{ category.name }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('admin_category_all')}}">Cancel</a>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>




{% endblock %}

