{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}

    <ul class="list-group">
        <li class="list-group-item">
            E-mail: {{ user.email }}
        </li>
        <li class="list-group-item">
           Full name: {{ user.fullName }}
        </li>
    </ul>

{% endblock %}

